<!DOCTYPE html>
<html>
    <head>
        <title>Travnal</title>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="/stylesheets/timeline.css">
        <link rel="icon" href="/images/paper-plane.png">
        <script src="/javascripts/timeline.js"></script>
        <script src="http://localhost:3001/socket.io/socket.io.js"></script>
         <script>
                          var socket=io.connect('http://localhost:3001'); 
                          var x = document.getElementById("demo");
                          function getLocation() {
                          if (navigator.geolocation) {
                          navigator.geolocation.getCurrentPosition(showPosition,function(){},{enableHighAccuracy:true});
                          } else { 
                          x.innerHTML = "Geolocation is not supported by this browser.";
                          }
                          }

                          function showPosition(position) {
                            console.log(`lat is: ${position.coords.latitude}`);
                            console.log(`long is: ${position.coords.longitude}`);
                            console.log(`accuracy is: ${position.coords.accuracy}`)
                            socket.emit('for_server', position.coords.latitude,position.coords.longitude);    
                            document.getElementById('demo').value=(position.coords.latitude+" "+position.coords.longitude+" "+"Vidyavihar");
                          }
          </script>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand brand" href="#">Travnal</a>
                    <img class="logo-image" src="/images/paper-plane.png">
                </div>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="<%= feedname %>">Feed</a></li>
                        <!--<li class="active"><a href="#">Trips</a></li>-->
                        <li><a href="<%= profilename %>">Profile</a></li>
                        <li> <a href="/logout"> Logout </a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <section class="intro">
            <div class="container">
              <h1><%= title %></h1>
              <p>a trip by <a href="../../../profile/<%= username %>"><b> <%= username %> </b></a> </p>
            </div>
          </section>
          
          <section class="timeline">
            <ul>
              <% for(var i=0; i<places.length; i++) {%>
                  <li>
                      <div>
                        <time><%= places[i].time %></time> <b><%= places[i].name %></b><br>
                        <%= places[i].description %><br><br>
                        <time><%= places[i].latlong %></time>
                        <a></a>
                      </div>
                  </li>
              <%} %>
            </ul>
          </section>
          <% if(show==1){ %>
            <img src="https://cdn4.iconfinder.com/data/icons/iconsimple-places/512/pin_plus-512.png" class="add-icon"  data-toggle="modal" data-target="#myModal">
          <% } %>
          <!-- Modal -->
          <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h3 class="modal-title">Add a new location to your trip</h3>
                </div>
                <div class="modal-body">
                    <button class="btn btn-default" onclick="getLocation()">Mark My location</button> 
                  <form action=<%= url %> method="POST">
                    <p>Name</p>
                    <input type="text" name="title" class="form-control" placeholder="Udupi">
                    <br><br>
                    <p>Description</p>
                    <input type="text" name="description" class="form-control" placeholder="unique blend of urban development with traditional culture deeply enrooted">
                    <br><br>
                    <p>Location</p>
                    <input type="text" name="latlong" id="demo" readonly required>
                    <br><br>
                    <button type="submit" class="btn btn-primary">add place</button>
                    <br><br>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <div class="footer">
            Developed with ❤ by trotters at DJMB
          </div>
          <script src="/javascripts/timeline.js"></script>
</body>
</html>